<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="wclassth=device-wclassth, initial-scale=1.0"
    />

    <!-- fonts should go below -->
    <!-- css -->

    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="./css/header.css" type="text/css" />
    <link rel="stylesheet" href="./css/nav.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


  </head>
    <title>Edit Ad</title>
<body style="margin: 1em;">
  <%- include('partials/_headers.ejs') %>
  <div>
    <h3>Edit Ad</h3>
      <form class="form-inline" action="/myads/<%= item.id %>/edit" method="POST">
        <div class="form-group mb-2" style="flex-direction: column; align-items: flex-start; font-weight: bold;">
          <div class="error-message">
            <!-- filled in with error message see client.js -->
        </div>
          <div class="input">
            <label for="title">Enter Title:</label>
            <input class="form-control" type="text" name="name" value="<%= item.name %>" style="width: 300px; margin: 1em"></input>

            <label for="image-url">Enter Img Url:</label>
            <input class="form-control" type="text" name="image_url" value="<%= item.image_url %>" style="width: 300px; margin: 1em"></input>

            <label for="item-price">Enter Price:</label>
            <input class="form-control" type="text" name="item_price" value="<%= item.price %>" style="width: 300px; margin: 1em"></input>

            <label for="item-description">Enter Description:</label>
            <textarea class="form-control" type="text" name="item_description" style="width: 300px; margin: 1em"><%= item.description %></textarea>
          </div>

          <div class="button-container">
          <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
