<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
      />
      <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
      <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
      <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
      <link rel="stylesheet" href="./css/header.css" type="text/css" />
      <link rel="stylesheet" href="./css/nav.css" type="text/css" />
      <link rel="stylesheet" href="./css/myads.css" type="text/css" />
      <title>My Favourites</title>
  </head>

<body style="margin-top: 10%;">
  <%- include('partials/_headers.ejs') %>
<!-- user option bar, includes; my ads, my favourites, my messages
    If you are on any of these pages, the option disappears. Example; if you're on my favs, the bar will only include my ads and my messages -->
      <!-- class fav-out-box, the background has a white box -->
    <div style="background-color: #CCCCFF;">
      <div class="fav-out-box" style="display: flex; justify-content: center;">
        <!-- class row, aligns everything in row, id row is the class that is responsible of making things appear and disappear-->
        <div class="row" id="row" style="display: flex; background-color: white; height: 75px; align-items: center; justify-content: space-between; width: 98%; margin-top: 1em;">
          <div style="margin-left: 2em;">&nbsp;Img&nbsp;</div>
          <div>&nbsp;Title&nbsp;</div>
          <div>&nbsp;Price&nbsp;</div>
          <div>&nbsp;Delete&nbsp;</div>
          <div style="margin-right: 1em;">&nbsp;Options&nbsp;</div>
        </div>
      </div>
      <!-- class favourites, responsible for scroll -->
      <!-- <div class="favourites" style="padding-left: 10px;">
        <article class="sales-out-box">
          <div
            style="height: 100px; width: 100px; background-color: blue"
          ></div>
          <p>NAME</p>
          <p>$100</p>
          <p class="heart-bottom-right">💙</p>
        </article>

      </div> -->
      <div style="background-color: white; height: 100%; margin-top: 1em; width: 98%; flex-direction: column; justify-content: center;">
      <% for (item of favourites) { %>
        <div class="favourites" style="padding-left: 10px;">
          <!-- class sales-out-box has white outter background box -->
          <article class="sales-out-box" style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
            <!-- for the user image -->
            <div style="height: 100px; width: 100px; background-color: blue; margin-top: 10px;">
              <img src= "<%= item.image_url %>" style="height: 100px; width: 100px;"
              height="250px"; width="250px"; alt="<%= item.name %>"/>
            </div>
            <div style="display: flex; margin-left: 90px; flex-direction: row; justify-content: space-between; width: 100%;">
              <p style="font-size: 20px;"><%= item.name %></p>
            <p style="font-size: 20px; color: #37a864;"> $<%= item.price / 100 %></span></p>
            <!-- class heart-bottom-right, aligns the heart to bottom right-->
            <form method="POST" action="/favourites/<%= item.id %>/delete">
            <div>
              <button class="delete-button" type="submit" style="background-color:blue; color:white;">DELETE</button>
            </div>
          </form>
            <p class="heart-bottom-right">💙</p>
            </div>

          </article>
        </div>
  <% } %>
      </div>
    </div>
  </body>
</html>




