<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="wclassth=device-wclassth, initial-scale=1.0"
    />

    <!-- fonts should go below -->
    <!-- css -->

    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="./css/header.css" type="text/css" />
    <link rel="stylesheet" href="./css/nav.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



    <script>
      $(document).ready(function(){
        $("#price").hide()
        $("#toggle_filter").click(function(){
          $("#price").toggle();
          $("#options").hide();
        });
        $("#price").click(function(){
          $("#options").toggle();
        });
      });
    </script>
  </head>

  <body>
    <%- include('partials/_headers.ejs') %>

    <div class="container">
      <h1>BUYBUYSELL</h1>

      <!-- feature display area, use jQuery to show random list element in div, and render to page -->
      <h4 style="margin-top: 50px;">Features</h4>
      <div class="horizontal-scroll-wrapper">
        <% for (item of items) { %>
        <div class="featureItem">
          <img src= "<%= item.image_url %>" class="items"
          height="50px"; width="50px"; alt="<%= item.name %>"/>          <div>
            <!-- <p><%= item.name %></p>
            <p> $<%= item.price / 100 %></span></p> -->
          </div>
        </div>
        <% } %>

      </div>

      <!-- Filter button always visible, click to toggle filter option buttons -->
      <div>
        <!-- Filter (change to column), When you click filter button, the price asc and desc option pops up -->
        <button href="#" class="btn btn-primary" id="toggle_filter">Filter</button>
        <div class="filterButtons">

          <!-- SQL query to sort items by price, asc/desc -->
          <div style="margin-top: 0.5em;" id="price">
            <button href="#" class="btn btn-primary"><p>Price</p></button>
              <div class="btn-group btn-group-justified" id="options">
                <a href="#" class="btn btn-primary">↑ASC</a>
                <a href="#" class="btn btn-primary">↓DESC</a>
              </div>
          </div>

        </div>
      </div>

      <!-- main item display area, use div class 'saleItem' in jQuery to prepend items to list and be rendered in main area-->
      <div class="sale-item">
        <% for (item of items) { %>
          <article class="saleItem">
            <div>
              <!-- <a href="/messages"> -->
              <img src= "<%= item.image_url %>"
                height="250px"; width="250px"; alt="<%= item.name %>"/>
              <!-- </a> -->
              <div class="itemInfo">
                <p><%= item.name %></p>
                <p> $<%= item.price / 100 %></span></p>
                <!-- <p style="padding-left: 10px;"><%= item.id %></p> -->
                <form action="/favourites" method = "post">
                  <input type="hidden" value= "<%= item.id %>" name = "item_id">
                  <button type = "submit">&#x2665;</button>
                </form>
              </div>
            </div>
          </article>
<% } %>
      </div>
    </div>
  </body>
</html>
