<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="wclassth=device-wclassth, initial-scale=1.0"/>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="./css/header.css" type="text/css" />
    <link rel="stylesheet" href="./css/nav.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

<<<<<<< HEAD
    <style type="text/css">
      div {
        box-sizing:border-box;
      }
      .horizontal-scroll-wrapper{
        /* position:absolute; */
        display:block;
        top:0;
        left:0;
        width:80px;
        max-height:500px;
        margin:0;
        background: white;
        overflow-y:auto;
        overflow-x:hidden;
        transform:rotate(-90deg) translateY(-80px);
        transform-origin:right top;
      }
      .horizontal-scroll-wrapper > div{
        display:block;
        padding:5px;
        background:#cab;
        transform:rotate(90deg);
        transform-origin: right top;
      }

      .squares{
        padding:60px 0 0 0;
      }

      .squares > div{
        width:60px;
        height:60px;
        margin:10px;
      }
      /* .features-div {
        box-sizing: border-box;
        display: flex;
        background-color: white;
        width: 100%;
        height: 175px;
      } */
      /* .features-div .row {
        width: 175px;
        height: 600px;
        overflow-y: auto;
        overflow-x: hidden;
        transform: rotate(-90deg);
        transform-origin: top right;
        transform:rotate(-90deg) translateY(-175px);
        /* box-sizing: border-box;
        overflow: auto;
        flex-direction: row; */
      /* }
      .features-div .row > .featureItem {
        width: 175px;
        height: 175px;
        transform: rotate(90deg);
        transform-origin: top right;
        /* box-sizing: border-box;
        overflow: auto;
        flex-direction: row; */
      /* } */
=======
    <style>
>>>>>>> 998b497a44645e5ec4220279e3fa817731b17e62
      .featureItem {
        height: 175px;
        width: 175px;
        margin: 20px 20px;
        text-align: center;
        background-color: blue;
      }
      .saleItem {
        list-style: none;
        height: 350px;
        width: 350px;
        margin: 20px 20px;
        text-align: center;
        background-color: green;
      }

      .row {
        display: flex;
        flex-wrap: wrap;
      }
    </style>
  </head>

  <body>
    <%- include('partials/_headers.ejs') %>

    <div class="container">
      <h1>BUYBUYSELL</h1>

      <!-- feature display area, use jQuery to show random list element in div, and render to page -->
      <h4 style="margin-top: 50px;">Features</h4>
      <div class="horizontal-scroll-wrapper squares">
        <% for (item of items) { %>

        <div class="featureItem">
          <img src= "<%= item.image_url %>"
          height="50px"; width="50px"; alt="<%= item.name %>"/>          <div>
            <!-- <p><%= item.name %></p>
            <p> $<%= item.price / 100 %></span></p> -->
          </div>
        </div>
        <% } %>

      </div>



      <!-- Filter button always visible, click to toggle filter option buttons -->
      <div>
        <!-- Filter (change to column), When you click filter button, the price asc and desc option pops up -->
        <button>Filter</button>
        <div class="filterButtons">
          <!-- SQL query to sort items by price, asc/desc -->
          <button><p>Price</p></button>
          <button><p>ASC | DESC</p></button>
        </div>
      </div>

      <!-- main item display area, use div class 'saleItem' in jQuery to prepend items to list and be rendered in main area-->
      <div>

        <div class="row">

<% for (item of items) { %>
          <article class="saleItem">
            <div>

              <!-- <a href="/messages"> -->
              <img src= "<%= item.image_url %>"
                height="250px"; width="250px"; alt="<%= item.name %>"/>
              <!-- </a> -->

              <div class="itemInfo">
                <p><%= item.name %></p>
                <p> $<%= item.price / 100 %></span></p>
                <!-- <p style="padding-left: 10px;"><%= item.id %></p> -->
                <form action="/favourites" method = "post">
                  <input type="hidden" value= "<%= item.id %>" name = "item_id">
                  <button type = "submit">&#x2665;</button>
                </form>
              </div>
            </div>
          </article>
<% } %>



        </ul>
      </div>
    </div>
  </body>
</html>
