<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="./css/header.css" type="text/css" />
    <link rel="stylesheet" href="./css/nav.css" type="text/css" />
    <link rel="stylesheet" href="./css/myads.css" type="text/css" />
    <title>My Ads</title>
  </head>

  <body>
    <%- include('partials/_headers.ejs')%>
    <main>
      <h3>My Ads</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Delete</th>
            <th scope="col">Edit</th>
            <th scope="col">Post</th>
          </tr>
        </thead>
        <tbody>
          <% for (item of items) { %>

          <tr>
            <th scope="row">
              <img src= "<%= item.image_url %>" height="250px"; width="250px"; alt="<%= item.name %>"/>
            </th>
            <td><%= item.name %></td>
            <td>$<%= item.price / 100 %></td>

            <td>
              <% if(!item.sold) { %>
              <form action="/myads/<%= item.id %>/delete" method="POST">
                <button class="btn btn-outline-primary" type="submit">Delete</button>
              </form>
              <% } %>
            </td>
            <td>
              <% if(!item.sold) { %>
              <form action="/myads/<%= item.id %>/edit" method="GET">
                <button class="btn btn-outline-primary">Edit</button>
              </form>
              <% } %>
            </td>
            <td>
              <% if(!item.sold) { %>
              <form action="/myads/<%= item.id %>/sold" method="POST">
                <button class="btn btn-outline-primary">Sold</button>
              </form>
              <% } else { %>
              <p>SOLD!!</p>
              <% } %>
            </td>
          </tr>
          <% } %>

        </tbody>
      </table>
    </main>
  </body>
</html>
